<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Section Number</th>
      <th>Professor Name</th>
      <th>Course Name</th>
      <th>Room</th>
      <th>Semester</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @student.enrollments.each do |enrollment| %>
    <tr>
        <td><%= enrollment.section.name %></td>
        <td><%= enrollment.section.professor.name %></td>
        <td><%= enrollment.section.course.name %></td>
        <td><%= enrollment.section.room %></td>
        <td><%= enrollment.section.semester %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
