<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>
<table>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Room Number</th>
      <th>Semester</th>
      <th>Section Number</th>
      <th>Enrolled Student(s)</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @professor.sections.each do |section| %>
    <tr>
        <td><%= section.course.name %></td>
        <td><%= section.room %></td>
        <td><%= section.semester %></td>
        <td><%= section.name %></td>
        <td>Student Name(s)</td>
        <tr>
        <% section.enrollments.each do |enrol|%>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td> <%= enrol.student.name %></td>
          </tr>
        <% end %>
      </tr>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
